<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="//use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
  {% include navbar.html %}
  {{content}}
</body>
</html>
