---
layout: default
---
<div class="container">
  <div class="columns">
    <div class="column is-6 content">
      <h1>{{page.name}}</h1>
      <a href="{{page.website}}">{{page.website}}</a>
      <p>{{page.description}}</p>
      <ul>
        <li><a href="{{page.rss.twitter.url}}" target="_blank"><i class="fab fa-twitter fa-3x"></i></a></li>
        <li><a href="{{page.rss.facebook.url}}" target="_blank"><i class="fab fa-facebook fa-3x"></i></a></li>
        <li><a href="tel:{{page.rss.phone.number}}" target="_blank"><i class="fas fa-phone fa-3x"></i></a></li>
      </ul>
    </div>
  </div>
</div>
